<!-- title is a variable that gets passed from the render function in index.js -->
<h1>Welcome to the {{title}}</h1>

<p>Web app by: {{author}}</p>

<p>You loaded this page at: {{timePageLoadedAt}}</p>

<p><a href="/feedback-form">Submit feedback here</a></p>